/* navbar */
.navbar-default {
    background-color: #BB8FCE;
    border-color: #E7E7E7;
}

body {
  padding-top: 5rem;
}
.home-page {
  padding: 3rem 1.5rem;
  text-align: center;
}
.contact-page {
  padding: 3rem 1.5rem;
  text-align: left;
}
.publications-page {
  padding: 3rem 1.5rem;
  text-align: left;
}
